.top_header {
    background: none #222;
    padding: 3px 0 0;
    display: none;
}
.aligncenter {
    margin:10px 0 30px!important;
    max-width: 100%!important;
    height: auto!important;
}
.alignleft{
    margin:10px 0 30px;
    max-width: 100%;
    height: auto;
}
img{
    margin:10px 0 30px;
    max-width: 100%;
    height: auto;
}
iframe {
    max-width: 100%;
    height: auto !important;
    margin-top:10px;
}
p{
    margin: 0 0 20px;
    text-align: justify;
}
.jive-image{
    margin:10px 0 30px!important;
    max-width: 100%!important;
    height: auto!important;
    
}

.image-1{
    margin:10px 0 30px !important;
    max-width: 100% !important;
    height: auto !important;}
table.j-table{width:100%!important;}
a{text-align:justify;}
.tablepress thead tr th, .tablepress tbody tr td {text-align: center;}
table{width:100%; max-width:100%;}
.header .logo {    margin: 0 auto;    float: none;}
#back-to-top,div#intercom-container,footer#footer, div#twitterbar,.header{    display: none;}
.banner {    margin-top: 0 !important;}
body div#back-to-top {    display: none !important;}
.bannercontainer.four.next.sugar_crm .content_rgt {width: 100%;}
#new-royalslider-35.royalSlider {    height: 175px !important;}
.bannercontainer.four.next.sugar_crm .content_rgt p { margin:0;}
.bannercontainer.four.next.sugar_crm .content_rgt img{margin:10px 0;}
input[type="button"] {    border: 2px solid #035db8;    background-color: #035db8;    color: #ffffff;    padding: 5px 12px;}
.formField .formFieldMedium, .formField .formTextAreaWidthMedium {width: 100%;min-height:30px;margin:10px 0 0px;}
input[type="button"] {border: 2px solid #035db8;background-color: #035db8 !important;color: #ffffff; padding: 10px 20px;-webkit-appearance: none;border-radius:20px !important;-webkit-border-radius:20px !important;}
input,textarea{padding:5px 10px;}
table {max-width: 100% !important;width: 100% !important;}
body.single-fayebsg_mobile_apps .banner .royalSlider img.rsImg{object-fit: cover;}
table.ao_tbl_container {
    padding: 40px 0;
}
#page-wrap {    margin-top: 0px;}
h2{margin:0; padding:0;}
.mbl_logo{text-align:center;width:100%;float:left;margin:0 0 10px;}
.mbl_logo img{width:150px; margin:10px auto; display:inline-block;}
#copyright .copyright-text.copyright_mobile_view {
    display: block;
    color: #ffffff;
    padding: 0 0 10px;
}
#copyright .social-icons ul li a { background-position: bottom center;}
